.view{
    flex: 1;
    display: flex;
    margin: 0.5rem 2rem 2rem 2rem;
    // Pages slides transitions causes issue with viewport so =
    overflow-x: hidden;
}

// Media Queries

@media(max-width:480px){
    .view{
        margin: 0.5rem;
    }
}