.label{    
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    font-family: 'Truculenta', sans-serif;
    &-titlepage{
        font-size: 3rem;
    }
    &-content{
        margin-bottom: 2rem;
    }
    &-title{
        font-size: 2rem;
        margin: 1rem;
    }
    &-text{
        font-size: 1.4rem;
    }
    &-link{
        font-size: 1.6rem;
    }
}

@media(max-width:600px){
    .label{
        width: 100%;
        &-titlepage{
            font-size: 2.4rem;
        }
        &-title{
            font-size: 1.8rem;
        }
        &-text{
            font-size: 1.2rem;
            text-align: left;
        }
    }
}
