.philosophy{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    &-end{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 3em 1em 0em 1em;
    }    
    &-text{
        font-weight: bold;
        font-family: 'Architects Daughter', cursive;
        font-size: 1.5rem;
    }
    &-author{
        font-weight: bold;
        font-size: 4rem;
        font-family: 'Satisfy', cursive;
        margin-top: 0.3em;
        margin-right: 0.5em;        
    }    
    &-content{
        font-size: 1.5rem;
        font-family: 'Architects Daughter', cursive;
        font-weight: bold;
        text-align: center;
        margin: 1em;
    }
}

// Media Queries

@media(max-width:480px){
    .philosophy{
        width: 100%;
        margin: 0 0.2rem;
        padding: 0;

        &-end{
            text-align: center;
            margin: 1rem 0;
        }
        &-content{
            margin:1rem 0;
            font-size: 1.2rem;            
        }
        &-text{
            font-size: 1.4rem;
        }
        &-author{
            font-size: 2.8rem;
        }
    }
}

@media(min-width:2100px){
    .philosophy{
        width: 80%;
        margin: auto;
        padding: 0;

        &-content{
            font-size: 2rem;
        
        }
        &-text{
            font-size: 2.5rem;
        }
        &-author{
            font-size: 5rem;
        }
    }
}

