.app{
    background: url(../../assets/backgroundApp/imageApp01.jpg);
    height: auto;
    

        &-main{
            min-height: 100vh;
            background-color: rgba($color: burlywood, $alpha: 0.9);
            background-size: cover;
            display: flex;
            flex-direction: column;
            margin: 0 10%;
        }
}

@media(max-width:480px){
    .app{
        background: none;
        &-main{
            margin:0;
        }
      
    }

    

}