.app{
<<<<<<< HEAD
    min-height: 100vh;
=======
    height: 100vh;
>>>>>>> d3c987d3e64c67dde0e1ef1b4d6090f3ccbe8eaf
    background-color: rgba($color: burlywood, $alpha: 0.9);
    margin: 0% 10%;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}