.sitemap{
    width: 100%;
    display: flex;
    justify-content: center;

    &-link{
        color: red;
        color: white;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
        transition: color 0.5s;
        font-size: 1.3rem;
        list-style-type: disc; 
        list-style-position: inside;
        :hover{
            text-decoration: none;
            color: #C9EA44;
        }
    }
    &-ul{ 
        list-style-type: circle; 
        list-style-position: inside; 
        margin-left: 20px; 
    }
}

// Media Queries

@media(max-width: 480px){
    .sitemap{
        &-link{
            font-size: 1rem
        }
    }
}

 