.header{
    margin: 1rem 3rem;

// titles = title + tilte2

    &-titles{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 0.7rem;        
    }    
    &-title{
        color: #4F412F; 
        padding-right: 20px;
        font-size: 5em;
        text-transform: uppercase;
        font-family: 'Fredericka the Great', cursive;
        font-weight: bold;
        margin: 0;
        transition: text-shadow 0.5s;
        &:hover{
            color: #4F412F;
            text-decoration: none;
            text-shadow: white 0.05em 0.05em 0.05em;
        }
    }
    &-title2{
        font-size: 3.5em;
        font-family: 'Truculenta', sans-serif;
        color: #434E16;
        margin-bottom: 3px;
        transition: text-shadow 0.5s;
        &:hover{
            color: #434E16;
            text-decoration: none;
            text-shadow: white 0.05em 0.05em 0.05em;
        }
    }

// content = slogan + nav

    &-content{      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &-slogan{
        text-align: center;
        color: #4F412F;
        font-size: 2.5rem;
        font-family: 'Truculenta', sans-serif;
        margin: 1rem 0;
    }
    &-nav{
        margin: 1rem 0;
        padding-bottom: 2px;        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;        
    }
    
//////////////////////// burger button///////////////////////////

    &-button{
        height: 4rem;
        width: 5rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
        color: white;
        background-color: #83992b;        
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.7rem;
        text-shadow: black 0.1em 0.1em 0.2em;
        box-shadow: black 0.1em 0.1em 0.2em;
        z-index: 20;
        display: none;
    }
    &-burger{
        margin: 0.25rem 0;
        width: 2rem;
        height: 0.25rem;
        background-color: rgb(71, 36, 16);
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;
        z-index: 20;        
        &--open{
            &--1{
                transform: translate(15%) rotate(45deg), ;
                width: 2.25rem;
                background-color: rgb(255, 255, 255);
            }    
            &--2{
                transform: translateX(100%);
                opacity: 0;
            }    
            &--3{
                transform: translate(15%) rotate(-45deg);
                width: 2.25rem;
                background-color: rgb(255, 255, 255);
            }          
        }
    }   

}

// just for the fun 

@media (prefers-reduced-motion: no-preference) {
    .header-title {
        animation: header-title-spin 1s ;
    }
    .header-title2 {
        animation: header-title2-spin 1s;
    }
}
@keyframes header-title-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}
@keyframes header-title2-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-720deg);
    }
}

// Media Queries

@media(max-width:976px){
    .header{
        margin: 1rem 0;
        &-content{
            flex-wrap: nowrap;
            align-items: center;
            margin: 0 0.2rem;
        }
        &-slogan{
            width: 100%;
            font-size: 1.7rem;
        }
        &-button{
            display: flex;
            &--open{
                transition: all 0.4s linear;
                background-color: transparent;                
                right: 7%;
                top: 178px; 
                transform: translateX(-100%);    
            }
            &--closed{
                transition: all 0.4s linear;
                transform: translateX(0%); 
            }           
        }
    }
}

@media(max-width:600px){
    .header{
        &-title{
            font-size: 2.2rem;
            margin-right: -1rem;
        }
        &-title2{
            font-size: 1.6rem;
        }
        &-slogan{
            font-size: 1.2rem;
        }
    }
}

@media(max-width:480px){
    .header{
        &-title{
            &:hover {                
                text-shadow: inherit; // remove :hover on touch devices
            }
        }
        &-title2{
            &:hover {                
                text-shadow: inherit; // remove :hover on touch devices
            }
        }
    }
}
