.header{
    margin: 2rem 3rem 2rem 3rem;

    &-link{
        transition: text-shadow 0.5s;
        &:hover{
            text-decoration: none;
            text-shadow: white 0.3em 0.1em 0.2em;
        }
    }

    &-titles{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0.7rem;
    }
    
    &-title{
        color: #4F412F; 
        padding-right: 20px;
        font-size: 5em;
        text-transform: uppercase;
        font-family: 'Fredericka the Great', cursive;
        font-weight: bold;
        margin: 0;
    }

    &-title2{
        font-size: 3.5em;
        font-family: 'Truculenta', sans-serif;
        color: #434E16;
        margin-bottom: 3px;
    }

    &-content{      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-slogan{
        text-align: center;
        color: #4F412F;
        font-size: 2.5rem;
        font-family: 'Truculenta', sans-serif;
        text-shadow: white 0.1em 0.1em 0.2em;
        margin: 1rem 0;
    }

    &-button{
        display: none;
    }

    &-nav{
        margin: 1rem 0;
        padding-bottom: 2px;        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;        
    }
}

@media (prefers-reduced-motion: no-preference) {
    .header-title {
      animation: header-title-spin 1s ;
    }
    .header-title2 {
        animation: header-title2-spin 1s;
    }
  }

  @keyframes header-title-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }
  @keyframes header-title2-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-720deg);
    }
  }
  




@media(max-width:480px){
    .header{
        margin: 0;

        &-titles{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &-title{
            padding-right: 0;
        }

        &-content{
            flex-wrap: nowrap;
            align-items: center;
            margin: 0 1rem 0 0;
        }

        &-slogan{
            width: 100%;
            font-size: 1.4rem;
        }

        &-button{
            display: block;
            color: white;
            background-color: #83992b;        
            border-radius: 10px;
            padding: 0rem 1rem 0.1rem 1rem;
            font-weight: bold;
            font-size: 1rem;
            text-shadow: black 0.1em 0.1em 0.2em;
            box-shadow: black 0.1em 0.1em 0.2em;
        }

        &-nav{
            display: none;
        }
    }
}