.header{
     padding: 20px;
    
    &-titles{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    &-title{
        color: #4F412F; 
        padding-right: 20px;
        font-size: 4em;
        text-transform: uppercase;
        font-family: 'Fredericka the Great', cursive;
        font-weight: bold;
        margin: 0px;
    }

    &-title2{
        font-size: 2.7em;
        font-family: 'Truculenta', sans-serif;
        color: #434E16;
        margin-bottom: 3px;
    }

    &-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 0px;
    }

    &-slogan{
        color: #4F412F;
        font-size: 1.8rem;
        font-family: 'Truculenta', sans-serif;
        text-shadow: white 0.1em 0.1em 0.2em;
        width: 40%;
        margin: 0;


    }
    &-nav{
        padding-bottom: 2px;
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }
}