.header{
    margin: 2rem 3rem 2rem 3rem;

    &-titles{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 0.7rem;
    }
    
    &-title{
        color: #4F412F; 
        padding-right: 20px;
        font-size: 5em;
        text-transform: uppercase;
        font-family: 'Fredericka the Great', cursive;
        font-weight: bold;
        margin: 0px;
    }

    &-title2{
        font-size: 3.5em;
        font-family: 'Truculenta', sans-serif;
        color: #434E16;
        margin-bottom: 3px;
    }

    &-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 0px;
    }

    &-slogan{
        color: #4F412F;
        font-size: 2.5rem;
        font-family: 'Truculenta', sans-serif;
        text-shadow: white 0.1em 0.1em 0.2em;
        width: 40%;
        margin: 0;

    }
    &-nav{
        padding-bottom: 2px;
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }
}

@media(max-width:480px){
    .header{
        margin: 0;

        &-titles{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &-title{
            padding-right: 0;
        }

        &-content{
            display: flex;
            flex-direction: column;
        }
        &-slogan{
            padding: 0 1rem;
            width: 100%;
            font-size: 1.8rem;
        }
    }
}