.navLink{
        color: white;
        padding: 10px;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
        transition: color 0.5s;
        font-size: 1.3rem;
        &:hover {
            color: #C9EA44;
            text-decoration: none;            
        }     
    }
.active{
    color: #C9EA44;
}
