.footer{
    display: flex;
    justify-content: flex-end;
        &-list{
        display: flex;
        margin: 0 3rem 2rem 0;       
        }
        &-content{
            padding-left: 20px;
            font-size: 1rem;
            color: white;
            text-decoration: none;
            font-weight: bold;
            text-shadow: black 0.1em 0.1em 0.2em;
            transition: color 0.5s;
            &:hover {
                color: #C9EA44;
                text-decoration: none;
            }        
    }
    .active{
        color: #C9EA44;
    }
}

// Media Queries

@media(max-width:480px){
    .footer{
       &-content{
           font-size: 0.6rem;
       }
    }

}
@media(max-width:350px){
    .footer{
       &-content{
           font-size: 0.4rem;
       }
    }

}