.epilation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    &-img{
        width: 30rem;
        height: 59vh;
    }
    &-woman, &-man{
        display:flex ;
        flex-direction: column;
        align-items: center;
    }
    &-button{
        color: white;
        background-color: #83992b;
        border: none;       
        border-radius: 10px;
        padding: 0rem 1rem 0.3rem 1rem;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
        box-shadow: black 0.1em 0.1em 0.2em;
        transition: color 0.8s, background-color 0.5s;        
        &:hover {
            color: #C9EA44;
            background-color: #617023;
            text-decoration: none;            
        }
    }

    // Affichage des tarifs
    &-link{ 
        margin: 1rem 0;
        width: auto;   
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-priceWo, &-priceMen{
        margin-top: 2rem;
        width: 25rem;
        border-collapse: separate;
        border: rgb(73, 68, 68) 1px solid ;
        border-radius: 10px;
        padding: 2rem;
        font-family: 'Truculenta', sans-serif;
        font-size: 1.3rem;
        box-shadow: rgb(73, 68, 68) 0.1em 0.1em 0.2em;
        transition: color 0.8s, background-color 0.5s; 
        &:hover{ background-color: rgb(250, 222, 177);
        }
        &-closed{
            display: none;
        }
    }
    &-title{
        text-align: center;
    }

    //Forfait 
    &-package{
        margin-top: 1rem;

        &-reduce{
            color: red;
            text-align: end;
        }
    }
}

@media(max-width:480px){
    .epilation{
        &-img{
            width: 22rem;
            height: 59vh;
            margin-top: 2rem;
        }
        &-priceWo, &-priceMen{
            width: 22rem;
        }
        &-price{
            width: 95%;
            font-size: 1.4rem;
        }       
    }
}

@media(min-width:2100px){
    .epilation{
        &-img{
            width: 40rem;
            height: 70vh;
        }
    }    
}

