.offers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title{
        text-align: center;
    }

    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    
    &-offer{
        width: 300px;
        height: 500px;
        margin: 1rem;
    }
    &-content{
        height: 40%;        
        padding: 1rem;
        background-color: blanchedalmond;
        border-radius: 0 0 50% 50%;
    }
    &-img{
        border-radius: 50% 50% 0 0 ;
        width: 100%;
        height: 250px;
    }
    &-text{
        font-size: 1.2rem;
    }
    &-title, &-text, &-titles{
        font-family: 'Truculenta', sans-serif;
        color: black;
    }

}

// Media Queries

@media(max-width:480px){
    .offers{ 

        &-title{
            font-size: 1.2rem;
        }
        &-offer{
            width: 160px;
            height: auto;
            margin: 0.3rem;            
        }
        &-img{
            height: 125px;
        }
        &-content{
            height: 125px;
            padding: 0.5rem 0;
        }
        &-titles{
            font-size: 1rem;
        }
        &-text{
            font-size: 0.7rem;
        }       
    }
}